/* VARIABLES */

$color-fondo: #000068;
$color-principal: blue;
$color-secundario: darkblue;
$transicion-animacion: all 400ms ease;

/* GENERAL */

html {
    scroll-behavior: smooth;
}

header,
section,
footer {
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: $color-fondo;
    box-sizing: border-box;
    font-family: helvetica;
}


/* HEADER */

header {
    background: linear-gradient(to right, $color-secundario, $color-principal);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    animation-name: header__animation;
    animation-timing-function: ease-in;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
}

@keyframes header__animation {
    0% {
        background: $color-principal;
    }
    25% {
        background: $color-secundario;
    }
    50% {
        background: $color-principal;
    }
    75% {
        background: $color-secundario;
    }
    100% {
        background: $color-principal;
    }
}

.header__marca {
    color: white;
    height: 50px;
    text-align: center;
}

.header__navbar ul {
    color: white;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline;
        background: $color-secundario;
        border-radius: 35px;
        transition: $transicion-animacion;
        &:hover {
            transition: $transicion-animacion;
            transform: rotate(5deg);
        }
        a {
            color: white;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            font-size: 17px;
            height: 50px;
            line-height: 50px;
        }
    }
}


/* SECCION PLANTEL */

.plantel__carousel {
    z-index: 0;
}

.plantel__carousel__imagen {
    border-radius: 15px;
    margin-bottom: 0px;
    transition: $transicion-animacion;
    &:hover {
        transition: $transicion-animacion;
        transform: scale(110%);
    }
}

.plantel__carousel__descripcion {
    background: black;
    opacity: 0.7;
}


/* SECCION ESTADIO */

#estadio {
    height: 400px;
}

.estadio__card {
    border-radius: 15px;
    height: 100%;
    transition: $transicion-animacion;
    &:hover {
        transition: $transicion-animacion;
        transform: scale(110%);
    }
}

.estadio__texto {
    color: white;
    font-size: 18px;
    font-family: helvetica;
    border-radius: 15px;
    text-align: justify;
    transition: $transicion-animacion;
    &:hover {
        transition: $transicion-animacion;
        transform: scale(110%);
    }
}


/* SECCION EQUIPACIÓN */

#equipacion {
    background-image: url('imagenes/fondo-equipacion.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.equipacion__card {
    border-radius: 15px;
    filter: drop-shadow(0 7px 17px rgba(0, 0, 0, 0.7));
    transition: $transicion-animacion;
    &:hover {
        transition: $transicion-animacion;
        transform: translateY(-20px);
    }
}

.equipacion__card--medio {
    margin-left: 20px;
}

.equipacion__card--derecha {
    margin-left: 20px;
    margin-right: 50px;
}


/* SECCION HISTORIA */

#historia {
    margin-top: 50px;
}

.historia__card {
    border-radius: 15px;
    box-shadow: 15px 5px 10px #48529944;
    height: 100%;
    transition: $transicion-animacion;
    &:hover {
        transition: $transicion-animacion;
        transform: scale(110%);
    }
}

.historia__texto {
    color: white;
    text-align: justify;
    border-radius: 15px;
    transition: $transicion-animacion;
    &:hover {
        transition: $transicion-animacion;
        transform: scale(105%);
    }
}


/* SECCION CONTACTO */

#contacto {
    height: 450px;
}

.contacto__formulario {
    padding-top: 50px;
    margin-left: 250px;
}

.contacto__input {
    width: 200px;
    height: 20px;
    margin: 10px;
    display: inline;
}

.contacto__input--largo {
    width: 430px;
    height: 40px;
    margin-bottom: -10px;
}

.contacto__textarea {
    width: 200px;
    height: 150px;
    margin: 10px;
    display: inline;
}

.contacto__boton {
    width: 435px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}


/* FOOTER */

footer {
    background: linear-gradient(to right, $color-secundario, $color-principal);
    height: 300px;
}

.footer__redes {
    padding-top: 50px;
}

.footer__about {
    border-radius: 15px;
    text-align: center;
    color: white;
    clear: both;
}

.flex__container {
    display: flex;
    flex-flow: row nowrap;
}

.flex__container--wrap {
    display: flex;
    flex-flow: row wrap;
}

.header__grid__container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.navbar__grid__container,
.navbar__grid__item {
    text-align: center;
}

.historia__grid__container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.historia__grid__item2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.historia__grid__item3 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer__grid__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.redes__grid__container {
    text-align: center;
}

.redes__grid__item {
    width: 100px;
    height: 100px;
    transition: $transicion-animacion;
    &:hover {
        transition: $transicion-animacion;
        transform: rotate(356deg);
    }
}

.about__grid__container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
}